{# Footer #}
<footer class="navbar navbar-expand-lg navbar-light bg-light">
    <div>


        <a href="{{ path('app_mentions_legales') }}">Mentions légales</a>
        <a href="{{ path('app_cgv') }}">CGV</a>





    </div>
</footer>
